@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This website has been made specially for <a href="https://youcode.ma/">YouCode</a> learners <br> to access the establishment.</p>
</div>
