@model YCReservations.Models.Reservations

@{
    ViewBag.Title = "MAKE A RESERVATION";
}

@*<h3 class="py-5">MAKE A RESERVATION</h3>*@
@*<hr />*@

<div class="card" style="margin-top:100px;">
    @*<div class="card-header font-weight-bold">
        RESERVATION FORM
    </div>*@
    <div class="card-body">
        <img src="~/Img/IMG_4262.png" class="card-img-bottom">
        <form asp-controller="Reservation" asp-action="Book" method="post" style="padding-top:20px;">
            <div class="form-row">
                <div class="form-group col-md-6" hidden>
                    <label asp-for="UserId" class="control-label"></label>
                    <input asp-for="UserId" class="form-control" asp-items="@ViewBag.UserId" value="@ViewBag.UserId" />
                    <span asp-validation-for="UserId" hidden class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Date">Date :</label>
                    <input id="DateId" type='datetime' class="form-control text-center" asp-for="Date" placeholder="DD MMM, YYYY" readonly="readonly" />
                    <small id="emailHelp" class="form-text text-muted">Please make sure you've selected the proper date.</small>
                    <span asp-validation-for="Date" hidden class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="ReservationTypeId"> Select :</label>
                    <select asp-for="ReservationTypeId" class="form-control" asp-items="@ViewBag.ReservationTypeId"></select>
                    <small id="emailHelp" class="form-text text-muted">Select your desired type of reservation.</small>
                    <span asp-validation-for="ReservationTypeId" hidden class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-primary">BOOK NOW</button>
                </div>
                <div class="text text-danger" asp-validation-summary="All"></div>
            </div>
        </form>
    </div>
</div>

@section DPdatepicker{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script>
        $(function () {
            $('#DateId').daterangepicker(
                {
                    "singleDatePicker": true,
                    "startDate": moment(),
                    "endDate": moment().endOf('year'),
                    "opens": "center",
                    minDate: new Date()
                });
        });
    </script>
}
