@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewBag.Title = "All Roles";
}

<h1>All Roles</h1>

    <a asp-action="CreateRole" class="btn btn-primary">Create new role</a>
    <hr />
    @foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id : @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@role.Id">Update</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@role.Id">Delete</a>
            </div>
        </div>
    }


